{% extends 'base.html' %}
{% block body %}

<div class="ui segment">
    <div class="ui grid">
        <div class="row">
            <div class="three width column">
                <img style="height:100px" class="rounded-circle" src="{{ profile.image.url }}" alt="Image not found">
            </div>
            <div class="thirteen wide column">
                <h3>Name: {{ profile.first_name }} {{ profile.last_name }}</h3>
                <p>User: {{ profile.user }}</p>
                <p>Email: {{ profile.user.email }}</p>
                <p>Country: {{ profile.country }}</p>
                <p>Mob: {{ profile.mob }}</p>
                <p>Qualification: {{ profile.qul }}</p>
                <hr>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
    </div>
</div>
{% endblock %}
